<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tistory.neojsy"
    android:versionCode="9"
    android:versionName="4.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Random Image Viewer" >
        <activity
            android:name=".ImageViewAllActivity"
            android:label="Random Image Viewer"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ImageViewer"
            android:label="subActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="SetPath"
            android:label="Set image root path"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="CheckFolderList"
            android:label="Check Folder List"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="Loading"
            android:label="Loading"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="DevInfo"
            android:label="DevInfo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="FolderEx"
            android:label="FolderEx"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="Test"
            android:label="Test"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="Setting"
            android:label="Setting"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="MoveEx"
            android:label="MoveEx"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        
        <activity 
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:name="WidgetSetting" >
            
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name="WidgetVier"
            android:label="Random Image Viewer 2X2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/exrate_widget1" />
        </receiver>
        <receiver
            android:name="WidgetVier2x"
            android:label="Random Image Viewer 3X3" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/exrate_widget2" />
        </receiver>
        <receiver
            android:name="WidgetVier4x"
            android:label="Random Image Viewer 4X4" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/exrate_widget3" />
        </receiver>
    </application>

</manifest>